  .top-bar {
  top: 0;
  position: fixed;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav span {
  font-family: "Bungee", sans-serif;
  
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#tweeter-icon {
  color: #FFFFFF;
  text-decoration: none;
}

#tweeter-icon:hover {
  text-decoration: none;
  color: #FF6B6B;
  transition-duration: 0.4s;
}


