.tweet:hover {
  box-shadow: 8px 8px #7883ab;
  transition-duration: 0.1s;
}

article.tweet {
  border: 5px solid #FF6B6B;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 60px;
  transition-duration: 0.9ms;
}

article header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.horizontal-line {
  border-top: 2px solid #FF6B6B;
  border-bottom: 2px solid #FF6B6B;
}

article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  background-color: inherit ;
  color: #4056A1;
  text-align: center;
  border: none;
  cursor:pointer;
  padding: 5px 5px;
  margin: 5px 0px;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: inherit ;
  color: #FF6B6B;
}